#home {
    background-image: url('/public/img1.jpg'); /* Update this path to the correct image location */
    color: 999;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

  #home h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  #home p {
    font-size: 1.5rem;
    max-width: 600px;
    line-height: 1.5;
  }
  